$maxWidth: 1200px;
$textColor: #333;
$conversion: #74cfae;
$backColorWhite: #fff;
$ColorWhite: #fff;
$ColorGray: #f2f2f2;
$ColorDarkGray: #4e4e4e;
$hoverCursor: pointer;

$breakPoint-tab: 1199px;
$breakPoint-sp: 766px;
